<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 작성</title>
</head>
<body>
<form action="/boards/article"  method="POST">
  <input type="hidden" name="num"></input>

  <div>
    <label for="board-type">게시판 종류</label>
    <select name="" id="board-type">
      <option value="">자유 게시판</option>
      <option value="">개발 게시판</option>
      <option value="">일상 게시판</option>
      <option value="">사건사고 게시판</option>
    </select>
  </div>

  <div>
    <label for="title">제목</label>
    <input type="text" id="title" name="title">
  </div>

  <br><br>

  <div>
    <label for="content">내용</label>
    <input type="text" id="content" name="content">
  </div>

  <br><br>

  <div>
    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password">
  </div>

  <br><br>

  <button type="submit">작성완료</button>

</form>

</body>
</html>