<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>개발자 모임, COMMU</title>
  <link rel="stylesheet" href="#" th:href="@{/css/main.css}">
</head>
<body>
  <div class="containter1"  th:style="'background-image: url(/img/main-bg.jpg)'">
    <div class="containter2">
      <div class="txt1">BEST WAY<br>TO DEVELOPER</div>
      <div class="txt2">당신의 꿈을 응원합니다. 개발자로 가는 최고의 길 COMMU와 함께하세요.</div>
      <div class="btn-container">
        <button>CONTACT US</button>
        <button onclick="location.href='/boards';">COMMUNITY</button>
      </div>
    </div>
  </div>

  <script>
    alert("어려워서 못풀겠어요..ㅠㅠ");
  </script>
</body>
</html>